@import './constants';

.wrapper {
  border: 5px solid blue;
  text-align: center;
  @include up($xl) {
    border-color: green;
  }
  @include up($xxl) {
    border-color: red;
  }
}

.title {
  font-size: 18px;
  @include up($xl) {
    font-size: 26px;
  }
  @include up($xxl) {
    font-size: 40px;
  }
}
